@import url("header.css");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2E2E2E;
  --w: #ffffff;
  --fonte-primaria: "Poppins";
  --fonte-secundaria: "Roboto";
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration-line: none;
}
