/*cores*/
:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2E2E2E;
  --c9: #404040;
  --c8: #595959;
  --c7: #717171;
  --c6: #9C9C9C;
  --c5: #B2B2B2;
  --c4: #CCCCCC;
  --c3: #DEDEDE;
  --c2: #EDEDED;
  --c1: #F7F7F7;
  --w: #ffffff;
  --p1: #FFBB00;
  --p2: #E4A30B;
  --p3: #A66F00;
  --p4: #664400;
  --p5: #332200;
  --gradiente: linear-gradient( #ffbf00, #f2a50c);
  --gradiente-h: linear-gradient(#ffb60d, #e59317);
}

.cor-c12 {
  color: var(--c12);
}

.cor-c11 {
  color: var(--c11);
}

.cor-c10 {
  color: var(--c10);
}

.cor-c9 {
  color: var(--c9);
}

.cor-c8 {
  color: var(--c8);
}

.cor-c7 {
  color: var(--c7);
}

.cor-c6 {
  color: var(--c6);
}

.cor-c5 {
  color: var(--c5);
}

.cor-c4 {
  color: var(--c4);
}

.cor-c3 {
  color: var(--c3);
}

.cor-c2 {
  color: var(--c2);
}

.cor-c1 {
  color: var(--c1);
}

.cor-w {
  color: var(--w);
}

.cor-p1 {
  color: var(--p1);
}

.cor-p2 {
  color: var(--p2);
}

.cor-p3 {
  color: var(--p3);
}

.cor-p4 {
  color: var(--p4);
}

.cor-p5 {
  color: var(--p5);
}

.gradiente {
  color: var(--gradiente);
}

.gradiente-h {
  color: var(--gradiente-h);
}
